
@{
    ViewData["Title"] = "ReadProductsFromStore"; 
}

<h1>  </h1>
<form method="post" >
    <label>Url to parse</label>
    <input type="text" name="url">
    <input type="submit" value="Отправить" />
</form>
